---

- name: run the main role
  hosts: all
  pre_tasks:
    - name: Add Glusterfs repository
      apt_repository:
        repo: "{{ gluster_ppa_repo }}"
    - name: update repositories cache
      apt:
        update_cache: yes
    - name: install basic requirements
      package:
        name: "{{ item }}"
        state: present
      with_items:
        - curl
        - jq
        - iproute
        - rsyslog
        - ca-certificates
        - sudo
        - python-apt
        - software-properties-common
        - tar
        - unzip
        - bzip2
        - gzip
        - git
        - glusterfs-client
    - name: Add module dm_thin_pool for thin volumes provisioning
      lineinfile:
        path: /etc/modules
        state: present
        create: yes
        line: 'dm_thin_pool'
  roles:
    - role: ansible-kubernetes
    - role: entercloudsuite.consul
      consul_version: 1.2.3
      consul_packer_provision: true
      consul_configs:
        main:
          bind_addr: 0.0.0.0
          client_addr: 0.0.0.0
          node_name: "{{ ansible_hostname }}"
          data_dir: "{{ consul_data_dir }}"
          encrypt: "K8n07GA/ZoANSmJ5zkvgOg=="
          enable_syslog: true
          datacenter: automium
          server: true
          ui: true

- name: prepare virtualenv
  hosts: all
  tasks:
    - name: create var project path
      set_fact:
        script_path: /usr/src/cloud
    - name: install requirements
      package: name="{{ item }}"
      with_items:
        - libffi-dev
        - libssl-dev
        - python-minimal
        - python-pip
        - virtualenv
    - name: create directory
      file: path="{{ item }}" state=directory
      with_items:
        - "{{ script_path }}"
        - "{{ script_path }}/roles"

    - name: creare requirements.txt for ansible-guest
      copy:
        content: |
          adal==1.2.1
          cachetools==3.1.0
          certifi==2018.11.29
          chardet==3.0.4
          cryptography==1.2.3
          dictdiffer==0.7.1
          enum34==1.1.2
          google-auth==1.6.2
          idna==2.8
          ipaddress==1.0.22
          Jinja2==2.10
          kubernetes==8.0.1
          MarkupSafe==1.1.0
          ndg-httpsclient==0.4.0
          oauthlib==3.0.1
          openshift==0.8.6
          prettytable==0.7.2
          pyasn1==0.1.9
          pyasn1-modules==0.2.4
          PyJWT==1.3.0
          pyOpenSSL==0.15.1
          python-apt==1.1.0b1+ubuntu0.16.4.2
          python-dateutil==2.8.0
          python-string-utils==0.6.0
          PyYAML==3.13
          requests==2.21.0
          requests-oauthlib==1.2.0
          rsa==4.0
          ruamel.ordereddict==0.4.13
          ruamel.yaml==0.15.88
          six==1.10.0
          urllib3==1.24.1
          websocket-client==0.54.0
        dest: "{{ script_path }}/guest-requirements.txt"
    - name:
      pip:
        requirements: "{{ script_path }}/guest-requirements.txt"
    - name: create requirements.txt for ansible venv
      copy:
        content: |
          ansible==2.6.2
          asn1crypto==0.23.0
          bcrypt==3.1.4
          cffi==1.11.2
          cryptography==2.1.3
          enum34==1.1.6
          idna==2.6
          ipaddress==1.0.18
          Jinja2==2.10
          python-consul==1.1.0
          MarkupSafe==1.0
          paramiko==2.4.0
          pyasn1==0.3.7
          pycparser==2.18
          pycrypto==2.6.1
          PyNaCl==1.2.0
          PyYAML==3.12
          six==1.11.0
          jmespath==0.9.3
        dest: "{{ script_path }}/requirements.txt"
        remote_src: yes
    - name: get current repo and commit
      set_fact:
        repository: "{{ lookup('env','TRAVIS_REPO_SLUG') }}"
        commit: "{{ lookup('env','TRAVIS_COMMIT') }}"
    - name: get current pull request repo and commit
      set_fact:
        repository: "{{ lookup('env','TRAVIS_PULL_REQUEST_SLUG') }}"
        commit: "{{ lookup('env','TRAVIS_PULL_REQUEST_SHA') }}"
      when: lookup('env','TRAVIS_PULL_REQUEST_SLUG') != ""
    - name: create requirements.yml
      copy:
        content: |
          - src: "https://github.com/{{ repository }}"
            version: "{{ commit }}"
          - src: entercloudsuite.consul
            version: 1.0.1
        dest: "{{ script_path }}/requirements.yml"
        remote_src: yes
    - name: install python requirements
      pip:
        requirements: "{{ script_path }}/requirements.txt"
        virtualenv: "{{ script_path }}/venv"
    - name: install ansible roles
      shell: source {{ script_path }}/venv/bin/activate && ansible-galaxy install -f -p roles -r requirements.yml
      args:
        chdir: "{{ script_path }}"
        executable: /bin/bash
      tags:
        - skip_ansible_lint
